{% extends 'events/base.html' %}

{% block content %}

<center class="'row"><h1>Events at : {{ venue.name }}</h1></center>
<br/>
{% for event in events %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img src="{{ event.img.url }}" class="card-img-top" alt="{{ event.name }}"
            <h5 class="card-title">Name : {{ event.name }}</h5>
            <p class="card-text">Date : {{ event.date }}</p>
            <p class="card-text">Till : {{ event.till }}</p>
            <p class="card-text">Venue : {{ event.venue }}</p>
            <p class="card-text">Manager : {{ event.manager }}</p>
            <p class="card-text">Description : {{ event.desc }}</p>
            {% for user in event.attendees.all %}<p class="card-text">{{ user }}</p>{% endfor %}
            <a href="{% url 'events:indevent' event.id %}" class="btn btn-dark">About {{ event.name }}</a>
        </div>
    </div>
<br/>
{% endfor %}

{%endblock %}