{% extends 'event/base.html' %}

{% block content %}

    <h1>DELETE VENUE {{venue.name }} ?</h1>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{venue.name }}</h5>
            <p>Address :{{ venue.address }}</p>
            <p>Phone :{{ venue.phone }}</p>
            <p>Website :{{ venue.web }}</p>
            <p>Email :{{ venue.email }}</p>
            <a href="{% url 'deletevenue' venue.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'indvenue' venue.id %}" class="btn btn-secondary btn-sm">Cancel</a>
        </div>

{% endblock %}