{% extends 'event/base.html' %}

{% block content %}

    <h1>All Venues</h1>
        {% for venue in venues %}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{venue.name }}</h5>
                <p>Address :{{ venue.address }}</p>
                <p>Phone :{{ venue.phone }}</p>
                <p>Website :{{ venue.web }}</p>
                <p>Email :{{ venue.email }}</p>
                <a href="{% url 'indvenue' venue.id %}" class="btn btn-secondary">Details</a>
            </div>
        {% endfor %}
{% endblock %}