{% load static %}
<nav class="navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{% static 'images/pp.jpg' %}" width="30" height="24" class="d-inline-block align-text-top">E-Commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'store:store' %}">Store</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'store:cart' %}">Cart</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'store:checkout' %}">Checkout</a></li>
      </ul>
      <div class="d-flex me-2">
        <a href="#"class="btn btn-light">Login</a>
        <a href="{% url 'store:cart' %}"><img  id="cart-icon" src="{% static 'images/cart.png' %}" width="30" height="24"></a>
        <p id="cart-total">0</p>
    </div>
    </div>
  </div>
</nav>
