<head>
    <!-- Compiled and minified css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
{% include 'main/nav.html' %}

{% if messages %}
    {% for message in messages %}
        <script>M.toast({html:"{{message}}", classes:"blue-rounded",displayLength:5000})</script>
    {% endfor %}
{%endif %}

<div class="container">
{% block content%}
{% endblock %}
</div>

{% include 'main/footer.html' %}
</body>
<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
